body {
    font-family: Arial, sans-serif;
    background-color: #f0f5e0;
    margin: 0;
    padding: 0;
}

h2 {
    color: #0f8036;
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

button {
    background-color: #0f8036;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

tr {
    background-color: #0f8036;
    color: #fff;
}

tr:first-child th {
    background-color: #000;
}

tr:nth-child(even) {
    background-color: #0c602b;
}

tr:nth-child(odd) {
    background-color: #0f8036;
}
